#game-wrapper {
	float: left;
	width: auto;
	height: 550px;
	background: white;
	border: 1px solid #ddd;
	margin-right: 3px;
}

#timer-table {
	width: 140px;
	height: 132px;
	background: url(../images/timer.png);
}

#scenario {
	height: 550px;
	width: 600px;
	background: url(../images/scenario.png) no-repeat;
	display: -webkit-box;
}

#timer {
	font-size: 30px;
}

#timer-td {
	text-align: center;
}

#number_of_full_balloons {
	font-size: 35px;
}

#number_of_bursted_balloons {
	font-size: 35px;
}